html {
  .box-sizing('border-box');
}

*, *:before, *:after {
  .box-sizing(inherit);
}

html, body, div, span, li, ol, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  //position: absolute;
  //line-height: 1;
  height: 100%;
  width: 100%;
}

ol, ul {
	list-style: none;
}

table {
	border-spacing: 0;
}

@import 'fontawesome/less/font-awesome';
@import 'mixins';
@import 'kanban-board-view';
@import 'kanban-components';
