html {
  box-sizing: 'border-box';
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, li, ol, ul {
  margin: 0;
  padding: 0;
  border: 0;

  cursor: default;
  
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  //position: absolute;
  //line-height: 1;
  height: 100%;
  width: 100%;
}

ol, ul {
	list-style: none;
}

table {
	border-spacing: 0;
}

@import 'mixins';
@import 'kanban-board-view';
@import 'kanban-components';
