html {
  .box-sizing('border-box');
}

*, *:before, *:after {
  .box-sizing(inherit);
}

html, body, div, span, li, ol, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  .unselectable;
  height: 100%;
  width: 100%;
}

ol, ul {
	list-style: none;
}

table {
	border-spacing: 0;
}

@import 'fontawesome/less/font-awesome';
@import 'mixins';
@import 'side-navigation-view';
@import 'kanban-filter-view';
@import 'kanban-board-view';
@import 'detailed-view';
@import 'kanban-components';
