.kanban-column {
  display: inline-block;
  position: relative;
  height: 100%;
  text-align: center;

  .kanban-column-title {
    position: relative;
    .unselectable;
    color: white;
    height: 20px;
    width: 100%;
    cursor: pointer;

    &:hover {
      color: @light-blue;
    }

    &:active {
      color: lightgrey;
    }

    &:after {
      content: '-';
      position: absolute;
      display: inline-block;
      right: 15px;
      top: 0;
      color: grey;
      font-weight: bold;
      //cursor: pointer;
    }

    &.expanded {
      &:after {
        content: '+';
      }
    }
  }

  .kanban-column-content {
    position: relative;;
    width: 100%;
    height: calc(~'100% - 20px');
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@import 'ticket-view';
