.kanban-filter-view {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;

  .key-label {
    margin-right: 10px;
  }
  .key-input {
    margin-right: 20px;
  }

  .team-label {
    margin-right: 10px;
  }
  .team-input {
    margin-right: 20px;
  }
}