.kanban-column {
  display: inline-block;
  position: relative;
  width: 33%;
  height: 100%;
  text-align: center;
  border-right: 1px solid lightgrey;

  .kanban-column-title {
    color: @light-blue;
  }

  .kanban-column-content {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    //background-color: @background-grey;
    overflow-y: auto;
    overflow-x: hidden;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    //box-shadow: 3px 3px 1px @box-shaddow-light;
  }
}

.first-column {
  border-left: 1px solid lightgrey;
}

.lastColumn {

}

@import 'ticket-view';
