.kanban-button {
  font-size: 14px;
  padding: 5px 13px 5px 13px;
  text-align: center;
  box-shadow: 1px 1px 2px #a9a9a9;
  background: linear-gradient(to bottom, white, #e8e8e8);
  border-radius: 5px;
  color: #33acfe;

  &:hover {
    cursor: pointer;
    color: #2e75b1;
  }

  &:active {
    color: lightgrey;
    box-shadow: none;
  }
}

.kanban-input {
  border-radius: 20px;
  border: 1px solid #d8d8d8;
  background: linear-gradient(to top, white, #e8e8e8);
  outline: none;
  padding: 5px 10px 5px 10px;
  width: 200px;
}

.kanban-label {
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}