.kanban-filter-view {
  position: relative;
  display: inline-block;
  .center-x;
  margin: 10px;

  .kanban-link {
    margin-right: 10px;
  }
  .kanban-label {
    margin-right: 10px;
  }
  .kanban-input {
    margin-right: 20px;
  }
  .filter-button {
    font-size: 12px;
    margin-right: 10px;
    .fa-refresh {
      margin-right: 5px;
    }
  }
  .fa-spinner {
    color: grey;
  }
}
