.side-navigation-view {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 12px;
  z-index: 2;
  position: absolute;
  .gradient;
  .border-radiuses(20px, 20px, 0, 0);

  .box-shadow-small;

  left: -3px;
  .center-y;

  &:hover {
    .box-shadow-big;
  }

  &:after {
    font-family: FontAwesome;
    content: '\f142';
    position: absolute;
    right: 5px;
    .center-y;
    color: grey;
  }

  .navigation-item {
    color: @dark-blue;
    margin: 5px 15px 5px 10px;
    padding: 5px 15px 5px 10px;
    .border-radius(20px);

    i {
      margin-right: 5px;
    }

    &:hover {
      color: @light-blue;
      cursor: pointer;
    }

    &:active {
      .box-shadow-inner;
      color: lightgrey;
    }
  }
  .selected {
    .box-shadow-inner;
    color: grey;
  }
}
