.ticket-view {
  position: relative;
  margin: 10px;
  border-radius: 15px;
  padding: 10px;
  text-align: left;
  box-shadow: 3px 3px 1px #a9a9a9;

  background: linear-gradient(to bottom, white, #e8e8e8);

  .ticket-header {
    position: relative;

    .ticket-id {
      font-weight: bold;
      color: #33acfe;

      &:before {
        content: '#'
      }
    }
    .ticket-owner {
      float: right;
      font-style: italic;
      &:before {
        content: 'owner: ';
      }
    }
  }

  .ticket-title {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 5px 0;
  }
  .ticket-description {
    margin: 5px;
    font-size: 12px;
    overflow-x: auto;
  }

  .ticket-status {
    text-align: right;
    font-weight: bold;
    color: #33acfe;
    font-style: italic;
    font-size: 12px;
  }
}