.ticket-view {
  position: relative;
  margin: 10px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  text-align: left;

  .ticket-id {

  }
  .ticket-owner {

  }
  .ticket-title {

  }
  .ticket-description {

  }
}